In [15]:
from numpy.random import RandomState

import pandas as pd

df = pd.read_csv('credit_no_na.csv')

rng = RandomState()

train = df.sample(frac=0.5, random_state=rng)

remain = df.loc[~df.index.isin(train.index)]

In [16]:
print(train.shape)

(109992, 197)

In [17]:
print(remain.shape)

(109992, 197)

In [18]:
train.head()

,ID,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v62,v64,v66,v68,v70,v72,v74,v76,v78,Y
123762,24291,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
95037,18628,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
94314,18488,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
81930,144864,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
123086,155969,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [19]:
remain.head()

,ID,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v62,v64,v66,v68,v70,v72,v74,v76,v78,Y
0,151601,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,202571,0,0,0,0,0,0,0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3076.0,1
5,252851,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
6,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
12,115629,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [20]:
train.to_csv(r'train.csv', index = None, header = True)
remain.to_csv(r'remain.csv', index = None, header = True)